<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

	<div>
		<label for="first-name">First Name: </label>
		<input id="first-name" type="text" id="firstName" class="form-control" formControlName="firstName" required>
		<div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
			<div *ngIf="firstName.errors?.['required']">
				First name is required.
			</div>
		</div>
	</div>

	<div>
		<label for="last-name">Last Name: </label>
		<input id="last-name" type="text" formControlName="lastName">
		<div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
			<div *ngIf="lastName.errors?.['required']">
				Lastname is required.
			</div>
		</div>
	</div>

	<p>Complete the form to enable button.</p>
	<button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>