.content-video {
	height: 433.688px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: width 1s, height 1s, padding 1s;
	transition: width 1s, height 1s, padding 1s;
	background-color: #333;
}

.video {
	height: auto;
	width: 130%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 20px;
}

.video-bubble {
	border-radius: 20px;
	width: 90px;
	height: 90px;
	top: 4rem !important;
	transform: translate(0);
	background-color: #ffffff !important;
	object-fit: cover;
}
